<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PSlowMotion2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A632F2051D486DBF00006D9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A632F2191D486DBF00006D9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A632F2241D486DBF00006D9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
